
*{
    margin: 0;
    padding: 0;

}.outerContener{
    margin-left: 70px;
}
.contener{
    width: 300px;
    height: 320px;
    border-style: solid    ;
    border-width: 1px;
    border-color: grey;
    border-radius: 2px;
    float: left;
    margin-left: 20px;


}.iPhoneImage{

    width: 300px;
    height: 200px;
   
}.newPrice{
    color:green;
    margin-left: 5px;
    margin-left: 10px;
}.oldPrice{
margin-left: 5px;
    color: red;
    text-decoration: line-through;
    font-size: 10px;

}.heartButton{
    border-style: solid    ;
    border-width: 1px;
    border-color: blue;
    color: blue;
    width:30px ;
    height:35px;
}.addToCartButton{
    background-color: blue; 
    color: aliceblue;
    width:200px ;
    height:35px;
    margin-left: 30px;
 border:none;
 
 }.addToCartButton i{

    margin-right: 10px;
   
 }.phoneParagraph{

    margin-left: 10px;
 }.PhoneName{
    margin-left: 5px;

 }